# Xcode
#

*.pbxuser
!dault.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa


# Android/IJ
#
.idea
android/.gradle/
build/
*.iml
*.keystore
android/local.properties
android/build/
android/app/build/
android/app/src/main/assets/
android/app/src/main/res
#android/app/src/main/res/




# node.js
#
node_modules/
#config.js
npm-debug.log


#ios
*~
.DS_Store
*.xcuserstate
*.xcworkspace
xcuserdata
*.lock
Pods
Package-lock.json

